

.cursive{
	margin-top:15px;
}
body{
	font-family:"Courier New","Helvetica Neue",Helvetica,sans-serif;
	font-size:18px;
	background-color:#333;
	color:white;
	position:relative;
	min-height:100%;
	line-height:1.5;
}
#container{
	/*background-color:#f2f2f2;*/
}
a {
  color: white;
}
a:hover {
  color: white;
}


.inner{
	margin:0 auto;
	margin-top:15px;
	max-width:600px;
	display: flex;
	flex-direction: column;
}
@media screen and (max-width:600px){
	.inner{
		flex-direction: column;
	}
}
#the_sidebar{
	padding:0 15px;
}
#main_content{
	padding:0 15px;
	float:left;
	max-width:800px;
}
.thing{
	margin-bottom:55px;
	float:left;
	width:100%;
	font-size:25px;
}
.blink{
	margin:30px 0;
	font-weight:600;
	border-top:3px solid #bbb;
}
.spacer{
	float:left;
	width:100%;
	padding-bottom:200px;
}


a {
  position: relative;
	display:inline-block;
  color: white;
	text-decoration: none;
}

@keyframes underline-gradient {
  0% {
    transform: translate3d(0%, 0%, 0);
  }
  100% {
    transform: translate3d(-75%, 0%, 0);
  }
}

a{
	will-change: transform;
}
a:hover {
  color: white;
}
a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 2px;
  left: 0;
	background:white;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#03a3ed', GradientType=1 );
  /*-webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;*/
}
a:hover:after {
	background: rgba(255,93,177,1);
	background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(3,163,237,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(3,163,237,1)));
	background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(3,163,237,1) 100%);
	background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(3,163,237,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(3,163,237,1) 100%);
	background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(3,163,237,1) 100%);
}
@media only screen and (max-width: 767px) {
	/*body{
		font-size:25px;
		line-height:1.5;
	}
	.thing{
		font-size:22px;
	}*/
}

@media only screen and (max-width: 479px) {
	/*body{
		font-size:22px;
		line-height:1.5;
	}
	.thing{
		font-size:20px;
	}*/
	a{
		display:inline;
		text-decoration:underline;
	}
	a:after{
		height:0;
	}

}
